<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400, 700" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="data-section-wrapper">

      {% for datum in eo %}
      <div class="data-section" id="{{ datum.series_name }}"{% if not loop.first %}  style="display:none;"{% endif %}>
        <h2 style="margin:0;">{{ datum.hed }}</h2>
        <p style="margin:0;">{{ datum.chatter }}</p>

        <div class="bar-wrapper">
          {% for row in datum.data %}
          <div class="row">
            <div class="c g4">
              {% if datum.series_name === "countries" %}
              <p style="margin-top: -2px;">
              {% include "partials/" + row.label|lower + ".svg" %}
              {% else %}
              <p style="margin: 0;">
              {% endif %}
                {{ row.label }}: {{ row.number }}
              </p>
            </div>
            <div class="c g4-3">
              <div class="bar">
                <div class="bar-inner" style="width: {{ (row.number / total) * 100 }}%;"></div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row">
          {{ eo|navigate(loop.index0 - 1, 'prev')|safe }}
          {{ eo|navigate(loop.index0 + 1, 'next')|safe }}
        </div>
      </div>
      {% endfor %}

    </div>

    <p class="source">Source: {{ source }}</p>
    <p class="source">Reporting by {% for human in credits %}<a href="{{ human.link }}" target="_blank">{{ human.name }}</a>{% if not loop.last %}{% if loop.revindex == credits|length %} and {% else %}, {% endif %}{% endif %}{% endfor %}</p>
  
    <script src="scripts.js"></script>
  </body>
</html>
