*, *:after, *:before {
  box-sizing: border-box;
}

.country {
  fill: #aaa;
  stroke: none;
  height: 24px;
  width: 24px;
  vertical-align: -7px;
}

body {
  font-family: Montserrat, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
}

a {
  color: #414141;
  font-weight: bold;
}

a:hover {
  color: #f66a2c;
}

.row {
  display: block;
  width: auto;
  min-height: 1px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .c {
  float: left;
}

table, .g2, .g3, .g3-2, .m2, .m3, .m3-2 {
  width: 100%;
}

@media (min-width: 768px) {
  .g2 {
    width: 50%;
  }

  .m2 {
    margin-left: 50%;
  }

  .g3 {
    width: 33.33%;
  }

  .g3-2 {
    width: 66.66%;
  }

  .m3 {
    margin-left: 33.33%;
  }

  .m3-2 {
    margin-left: 66.66%;
  }
}


div.bar {
  height: ;
}



